<template name="faq">
<body>
	<header class="main-header header-white-bg">
		{{>header}}
	</header>
	<div class="faq-all">
		<div class="wrapper">
			<header class="head">
				<h2>Privacy Policy</h2>
			</header>
			<main>
				
				<div class="faq-wrapper">
					<h2>How does Soothe vet the therapists in its network?</h2>
					<p>We’re very careful about the massage therapists we select to join the Soothe network. We interview all of our therapists in person and make sure they are fully licensed and insured in their state of practice. We accept only the highest quality therapists with a history of excellence in customer satisfaction.</p>
					<p>In most states, including California, the process to become a certified massage therapist (CMT) requires applicants to successfully pass background checks conducted by a state investigator, before being deemed able to safely work with the public. All Soothe massage therapists have passed these government sponsored certification measures.</p>
					<p>All Soothe massage therapists have the highest level of integrity and professionalism. In return, we expect all clients to reciprocate the same level of respect and conduct. (In Canada, all of our therapists are experienced professionals, however, not all are RMTs).</p>
				</div>
				<div class="faq-wrapper">
					<h2>Do I need to tip my Soothe massage therapist?</h2>
					<p>No. Unlike traditional spas, Soothe will never ask you to tip. This is possible because we take good care of our therapists and pay them almost twice as much as the industry standard.</p>
				</div>

				<div class="faq-wrapper">
					<h2>How does Soothe work?</h2>
					<p>Soothe allows you to book in-home (or hotel) massages with licensed and vetted massage therapists in as little as one hour.</p>
					<p>We match your massage request with the best therapist that specializes in that massage modality, based on location and availability. All of our massage therapists are excellent and guaranteed to make your day better.</p>
				</div>

				<div class="faq-wrapper">
					<h2>Can I re-book with the same Soothe massage therapist?</h2>
					<p>Absolutely! After your first massage with any Soothe massage therapist, you will have the option to re-book future massages with the same therapist.</p>
					<p>Keep in mind, however, we cannot guarantee that the same therapist will be able to arrive at your home or hotel within an hour. So if you want a therapist immediately, we suggest you book a Soothe massage on-demand and let us provide you with the closest available therapist.</p>
				</div>

				<div class="faq-wrapper">
					<h2>Is it okay for me to book a massage directly with a therapist instead of through Soothe?</h2>
					<p>Soothe takes the stress out of booking a massage, and is able to function because of the honor system.</p>
					<p>If you enjoy massages, we hope that you will do your part in keeping our eco-system intact and honorable. We strongly encourage our clients to use Soothe exclusively for all of their massage needs.</p>
				</div>

				<div class="faq-wrapper">
					<h2>What types of services are offered by Soothe?</h2>
					<p>Soothe currently offers Swedish Massage, Deep Tissue Massage,  Sports Massage, and Prenatal Massage.</p>
					<p>Any of these modalities can be performed as a Couples Massage, which means that two Soothe therapists will perform massages for you and your spouse/partner/friend at the same time. You can also book the same therapist to come massage two people, one after the other.</p>
					<p>Soothe also offers event/party/corporate massage services, in which you can select any number of therapists for a period of time - up to 6 hours per therapist - for any of the modalities listed above. We also offer chair massage, which is great for treating your office-mates.</p>
				</div>

				<div class="faq-wrapper">
					<h2>What about parking?</h2>
					<p>When booking, we ask that you provide as detailed parking information as you have available. If our therapists are unable to find free parking, or none is available in your area, we kindly ask that you reimburse the therapist for any expenses incurred, such as valet expenses if you are staying at a hotel.</p>
				</div>

				<div class="faq-wrapper">
					<h2>What are Soothe's hours of operation?</h2>
					<p>Soothe offers massages 7 days a week from 8 am to 12 am. These hours refer to first and last available appointment start times.</p>
				</div>

				<div class="faq-wrapper">
					<h2>What is Soothe's cancellation policy?</h2>
					<p>Once an appointment is requested, you are notified via e-mail and text. When an available massage therapist is attached to your request, you will receive a booking confirmation notice. We understand that plans can change, so please see our rescheduling and cancellation policies below:</p>
					<ol>
						<li>You can cancel or reschedule your appointment up to 1 hour before the appointment time with no penalty</li>
						<li>If you reschedule with less than 1 hour’s notice, prior to the appointment, we charge a $35/£25 fee*</li>
						<li>If you reschedule with less than 30 minutes’ notice prior to the appointment, we charge a $50/£35 fee*</li>
						<li>If you cancel with less than 1 hour’s notice prior to the appointment, we charge $50/£35 fee*</li>
						<li>If you cancel with less than 30 minutes prior to the appointment, we charge the full amount of the massage*</li>
					</ol>
					<p>*except if no therapist is assigned, then it's free of charge</p>
					<p>We put these cancellation policies in place to protect our therapists, as they lose income when cancellations occur, and need to receive compensation for time they have set aside.</p>
				</div>

				<div class="faq-wrapper">
					<h2>Do you accept insurance?</h2>
					<p>Currently, Soothe does not accept insurance as a form of payment. However, this may be possible in the future, please sign-up and we will notify you when this is available.</p>
				</div>

				<div class="faq-wrapper">
					<h2>Do I need my own sheets for the massage table?</h2>
					<p>Not at all. Soothe therapists always come prepared with fresh linens. However, if you have your own linens that you prefer, our therapists are happy to use yours.</p>
				</div>

				<div class="faq-wrapper">
					<h2>You’re not in my city. Can I still get a Soothe Massage?</h2>
					<p>We currently serve Atlanta, Austin, Boston, Chicago, Dallas/Ft. Worth, Houston, Indianapolis, Las Vegas, London, Los Angeles, Miami/Dade, Minneapolis, New York City, Northern New Jersey, Orange County, Orlando, Philadelphia, Phoenix/Scottsdale, Portland, San Diego, Silicon Valley, San Francisco/East Bay, Seattle, Vancouver (Canada), and Washington DC.</p>
					<p>However, we're adding new cities every month. So please sign up, and we will notify you as soon as we expand to your city.</p>
				</div>

				<div class="faq-wrapper">
					<h2>How do I pick a therapist?</h2>
					<p>We don't offer the ability to browse therapists to select one for your massage. We offer on-demand service and have no way to guarantee a certain therapist will be available.</p>
				</div>
			</main>
		</div>
	</div>
{{>footer}}
</body>
</template>