<template name="footer">
		<footer>
		<div class="wrapper">
			<div class="col">
				<h4>Company</h4>
				<ul>
					<li><a href="about-us.html">About Us</a></li>
					<li><a href="faq.html">Frequently Asked Questions</a></li>
					<li><a href="terms.html">Terms of Use</a></li>
					<li><a href="privacy.html">Privacy Policy</a></li>
				</ul>
			</div>	
			<div class="col">
				<h4>Therapists</h4>
				<ul>
					<li><a href="apply.html">Apply to be a Therapist</a></li>
				</ul>
			</div>	
			<div class="col">
				<h4>Gifts</h4>
				<ul>
					<li><a href="gift.html">Gift cards</a></li>
				</ul>
			</div>	
			<div class="col">
				<h4>Contact Us</h4>
				<ul>
					<li>Call 1-866-570-9646</li>
					<li><a href="#">Email: support@uberhealth.com</a></li>
					<li><a href="#">Corporate/Private Events</a></li>
				</ul>
			</div>		
		</div>	
		<div class="copyright">
			<div class="wrapper">
				<span>
					<img src="images/logo-short.png">
					<b>UberHealth.co <i class="fa fa-copyright"></i> 2016</b>
				</span>
				<span class="social">
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul>	
				</span>
			</div>
		</div>
	</footer>
</template>