<template name="login">
	<a href="#" class="login-fb btn-default btn"><i class="fa fa-facebook"></i>login with facebook</a>
	<span class="or"><em>or</em></span>
	<form class="login-form">
		<input type="email" name="email" placeholder="Email Address">
		<input type="password" name="password" placeholder="Password">
		<div class="btn btn-default">
		<input type="submit" value="login to your account">
		</div>
		<span>Don't have an account?
			<a href="signup">Sign up for free</a><br>
			<a href="forgot">Forget your password?</a>
		</span>
	</form>
</template>