<template name = "aboutus">
<body>
	{<header class="main-header">
		{{>header}}
	</header>
	<div class="about">
		<section class="about-banner">
			<h2>About Us</h2>
		</section>
		<section class="section-tabs">
			<div class="wrapper">
				<div class="left-tabs">
					<ul>
						<li><a class="abt_tab active">About Us</a></li>
						<li><a class="abt_tab">Press</a></li>
						<li><a class="abt_tab">Contact</a></li>
					</ul>
				</div>
				<div class="right-content right">
					<div class="about-content tab-body">
						<header class="head">
							<h3>The Story of UberHealth</h3>
						</header>
						<main>
							<p>We at UBERHEALTH, assure that you will be conferred with hospital-quality health services in your comfort zone, i.e., at your very own home. We provide caregivers; doctors, nurses, physiotherapists, attendants, etc. for home visits who  not just possess a medical degree and knowledge but who are well trusted and match up to provide the best care. 
							We facilitate lab facilities as well by making sure you are given the best care at your zone.</p>
							<p>We very well understand the concern and love you hold for your beloved one’s and thus aim at providing these facilities at affordable prices so that you can see them heeling and getting better every day in front of your eyes by keeping them close and connected with yourself.
							Power of your love and care by us, can help heel them soon.
							</p>
						</main>
					</div>
					<div class="press-content tab-body">
						<header class="head">
							<h3>Press</h3>
						</header>
						<main>
							<div href="#" class="press-item">
								<img src="images/usa-today-logo.png" class="press-image">
								<div class="press-item-titles">
									<a href="#">Best tech for Valentine's Day</a>
									<h4 class="press-subtitle">USA Today</h4>
								</div>
								<div class="press-date">2/11/16</div>
							</div>
							<div href="#" class="press-item">
								<img src="images/GCONEW.com-logo.png" class="press-image">
								<div class="press-item-titles">
									<a href="#" class="press-title">The best tech for celebrating Valentine’s Day</a>
									<h4 class="press-subtitle">GCO News</h4>
								</div>
								<div class="press-date">2/11/16</div>
							</div>
							<div href="#" class="press-item">
								<img src="images/boston-herald.png" class="press-image">
								<div class="press-item-titles">
									<a href="#">Presents that show her the love</a>
									<h4 class="press-subtitle">Boston Herald</h4>
								</div>
								<div class="press-date">2/11/16</div>
							</div>
							<div href="#" class="press-item">
								<img src="images/massage-magazine.png" class="press-image">
								<div class="press-item-titles">
									<a href="#" class="press-title">Soothe: Massage Sponsor of the 58th GRAMMY Awards®</a>
									<h4 class="press-subtitle">Massage Magazine</h4>
								</div>
								<div class="press-date">2/11/16</div>
							</div>
						</main>
					</div>
					<div class="contact-content tab-body">
						<header class="head">
							<h3>Contact Us</h3>
						</header>
						<main>
							<div class="contact-information">
								<h3>Soothe Inc:</h3>
								<a class="contact-link">
									7998 Santa Monica Blvd. West Hollywood, CA 90046</a>
									<h3>Phone (24x7)</h3>
									<p>1-866-292-9770</p>
									<a>1-866-292-9770</a>
									<h3>Office Hours</h3>
									<p>
										Mon - Fri:&nbsp;&nbsp;&nbsp;9am - 6pm<br>
										Sat - Sun:&nbsp;&nbsp;&nbsp;9am - 6pm
									</p>
									<h4>For Press Inquiries:</h4>
									<a>Press@soothe.com</a>
									<h4>To get Soothe at your workplace:</h4>
									<a>sootheatwork@soothe.com</a>
									<h4>Advertising or marketing-related inquiries:</h4>
									<a>marketing@soothe.com</a>
								</div>
							</main>
						</div>
					</div>
				</div>
			</section>
			<section class="section-booking">
				<div class="wrapper">
					<form class="booking-form">
						<header class="head">
							<h3>Book a UberHealth Now</h3>	
						</header><!-- /header -->
						<div class="city-drop">
							<select name="speed" id="speed">
								<option selected="selected">Boston</option>
								<option>Houston</option>
								<option>Las Vegas</option>
								<option>Los Angeles Area</option>
								<option>Northern New Jersey</option>
								<option>Atlanta</option>
								<option>Chicago</option>
								<option>Indianapolis</option>
								<option>Houston</option>
							</select>
						</div>
						<div class="date-pick">
							<input type="text" id="datepicker" placeholder="date">
							<label for="datepicker"><i class="fa fa-calendar"></i></label>
						</div>
						<div class="time">
							<select name="speed" id="time">
								<option selected="selected" disabled="">Department</option>
								<option>Nurse</option>
								<option>Atendent</option>
								<option>Physiotherapist</option>
							</select>
						</div>
						<div class="btn btn-default hvr-sweep-to-right">
							<input type="submit" value=" Request Appointment">
						</div>
					</form>
				</div>
			</section>
	</div>
		<footer class="footer-white">
			<div class="wrapper">
				<div class="col">
					<h4>Company</h4>
					<ul>
						<li><a href="about-us.html">About Us</a></li>
						<li><a href="faq.html">Frequently Asked Questions</a></li>
						<li><a href="terms.html">Terms of Use</a></li>
						<li><a href="privacy.html">Privacy Policy</a></li>
					</ul>
				</div>	
				<div class="col">
					<h4>Therapists</h4>
					<ul>
						<li><a href="apply.html">Apply to be a Therapist</a></li>
					</ul>
				</div>	
				<div class="col">
					<h4>Gifts</h4>
					<ul>
						<li><a href="gift.html">Gift cards</a></li>
					</ul>
				</div>	
				<div class="col">
					<h4>Contact Us</h4>
					<ul>
						<li>Call 1-866-570-9646</li>
						<li><a href="#">Email: support@uberhealth.com</a></li>
						<li><a href="#">Corporate/Private Events</a></li>
					</ul>
				</div>		
			</div>	
			<div class="copyright">
				<div class="wrapper">
					<span>
						<img src="images/logo-short.png">
						<b> UberHealth.co <i class="fa fa-copyright"></i> 2016</b>
					</span>
					<span class="social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>	
					</span>
				</div>
			</div>
		</footer>
</body>
</template>